body{
  font-family : 'Helvetica'
}

.navbar{
  background-color: #e75047;
}

.nav-link{
  color : black;
}

.active{
  color : #e75047 !important;
}

.entete{
  color : #e75047;
  font-size: 1.5em;
  /* text-shadow: grey 0.1em 0.1em 0.1em; */
}

.chiffre{
  max-width: 85%;
}