body{
  font-family : 'Josefin, Trebuchet, Liberation Sans'
}

.chiffre{
  max-width: 85%;
}

.table td:first-child {
    text-align: left;
}​

.table th{
  width:500px;
}
.table td{
  width:500px;
}

.icone-info {
  position: relative;
  display: inline-block;
}

.icone-info .icone-info-text {
  visibility: hidden;
  width: 100px;
  background-color: #E75047;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.icone-info:hover .icone-info-text {
  visibility: visible;
}

.bg-vvr-main {
    background-color: #701712;
    background-image: url("img/vrr_motif1.svg");
    background-repeat: no-repeat;
    background-position: top right;
}

.bg-vvr-main h1, h2, h3, h4, h5 {
    color: white;
}
.bg-vvr-secondary-1 {
    background-color: #ea4f57;
}
.bg-vvr-secondary-2 {
    background-color: #f7bb58;
}
.bg-vvr-secondary-3 {
    background-color: #f2969c;
}

h1, h2, h3 {
    text-transform: uppercase;
    color: #701712;
    font-weight: bold;
}
h2 {
    border-bottom: var(--bs-border-width) var(--bs-border-style) black !important;
    padding-left: 0px !important;
    font-weight: bold;
    max-width: 95% !important;
    color: black;
    font-size: 2.5rem;
}
h3.entete {
    text-align: center;
    margin-top: 80px;
}
.entete span {
    background-color: #fff9;
}
h4, h5 {
    color: #f7bb58;
}
.active{
  color : #701712 !important;
}
#nav-tab a {
    text-decoration: none;
    font-weight: bold;
    font-size : 1.75em;
}
#nav-tab a .nav-link{
    color: #f7bb58;
}
a.link-declarvins:hover {
    background-color: #86005b !important;
}
a.link-declarvins {
    color: #565e64 !important;
}
header nav a:hover {
    color: white !important;
}
header nav a.active {
    background-color : #701712 !important;
    color: white !important;
}
.link-declarvins .btn:hover {
    background-color: #86005b !important;
}
.menu {
    background-color: #f1f1f1;
}
.menu a {
    text-decoration: none;
}
.graphs-container:nth-child(2n) {
    background-image: url(img/vrr_motif2.svg);
    background-position: top right;
}
.graphs-container:nth-child(2n+1) {
    background-image: url(img/vrr_motif4.svg);
    background-position: top left;
}
.graphs-container {
    background-repeat: no-repeat;
}
.graph-container {
    background-color: white;
}
.explications {
    text-align: center;
    width: 80%;
    margin: 10px auto;
    padding: 15px 5px;
    color: black;
}
